<% if params[:location].empty? == false %>
  <h1>Places to visit in <%= params[:location] %></h1> 
  <% if current_user %>
    <div class="save-favorite"><%= link_to "Add #{params[:location]} to your Favorites", user_favorites_path(user_id: current_user.id, location: params[:location]), method: 'post', class: "fave-link" %><div>
  <% else %>
    <div class="save-favorite">You can save <%= params[:location] %> and other Locations. <%= link_to 'Sign Up!', '/users/new', class: "link" %>
  <% end %>
<% else %>
  <h2> Please enter a Location. </h2>
<% end %>

<div class="places-container">
  <% @facade.places.each do |place| %>
    <ul class="place">
      <div class="place-map"> 
        <li class="map"><%= image_tag @facade.get_place_map(address: place.address) %></li>
      </div>
      <div class="place-info">
        <div class="place-name">
          <li class="name"><%= place.name %></li>
        </div>
        <div class="place-ratings">
          <li class="rating"><%= place.rating %></li>
          <li class="ratings-total"> <%= place.ratings_total %></li>
        </div>
        <div class="place-address">
          <li class="address"><%= place.address %></li>
        </div>
      </div>
    </ul>
  <% end %>
</div>



  