<% @facade.places.each do |place| %>
  <div class="station">
    <div class="name"><%= place.name %></div>
    <div class="image"><%= place.image %></div>
    <div class="address"><%= place.address %></div>
    <div class="rating"><%= place.rating %></div>
    <div class="ratings-total"> <%= place.ratings-total %></div>
  </div>
<% end %>