<!DOCTYPE html>
<html>
  <head>
    <title>FindYourCity</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <nav class="navbar">
      <div class="app-title">I-Travel</div>
      <div class="nav-elements">
        <% if current_user %>
          <div class="sign-out"><%= link_to 'Sign Out', '/logout' %></div>
          <div class="signed-in-as">Logged in as <%= current_user.name %></div>
        <% else %>
          <div class="sign-up"><%= link_to 'Sign Up', '/users/new' %><div>
          <div class="sign-in"><%= link_to 'Sign In', '/login' %></div>
        <% end %>
        <div class="input">
          <%= form_tag '/results', method: :get do %>
            <div class="input-label"><%= label_tag :location %></div>
            <div class="input-field"><%= text_field_tag :location %></div>
            <div class="input-submit"><%= submit_tag "Submit" %></div>
          <% end %>
        </div>
      </div>
    </nav>
    <% if notice %>
      <%= notice %>
	  <% end %>
	  <% if alert %>
      <%= alert %>
	  <% end %>
    <%= yield %>
  </body>
</html>
