<!DOCTYPE html>
<html>
  <head>
    <title>FindYourCity</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application.css', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <nav class="nav-bar">
          <%= form_tag '/results', method: :get do %>
          <ul class="input">
            <li><%= text_field_tag :location, nil, :placeholder => 'Location', class: 'input-field' %></li>
            <li><%= submit_tag "Submit", class: 'search' %></li>
          </ul>
          <% end %>
        <ul class="authentication">
          <li class="app-title">I-Travel</li>
          <% if current_user %>
          <li class="sign"><%= link_to 'Sign Out', '/logout', class: "link" %></li>
          <li class="signed-in-as">Logged in as <%= current_user.name %></li>
          <% else %>
            <li class="sign"><%= link_to 'Sign Up', '/users/new', class: "link"%><li>
            <li class="sign"><%= link_to 'Sign In', '/login', class: "link" %></li>
          <% end %>
        </ul>
    </nav>
    <div class='message'>
      <% if notice %>
        <%= notice %>
	    <% end %>
    </div>
    <div class='alert'>
	    <% if alert %>
        <%= alert %>
	    <% end %>
    </div>
    <%= yield %>
  </body>
</html>
